<div class="box new-list">

    <form class="item" action="/newList" method="post">

        <input class="new-list-input" type="text" name="newList" placeholder="Create a new list!">
        <button type="submit" name="button">+</button>

    </form>

</div>
</body>

</html>